@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: theme("colors.background");
  color: theme("colors.text");
  font-family: theme("fontFamily.body");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.button {
  background-color: theme("colors.primary");
  color: #ffffff;
  font-size: theme("fontSize.button");
}
